



.container {
    width: 90%;
    margin: 2rem auto;
    
}

.modal-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.img {
    display: flex;
    flex-direction: column;
}

.img img {
    margin:15px 0;
}

button {
    display: flex;
    border: none;
    place-content: center;
    align-items: center;
    gap: 5px;
    width: 300px;
    height: 40px;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
}

.btn1 {
    background-color: black;
    color: white;
    margin-bottom: 10px;
}

.btn2 {
    background-color: rgb(69, 69, 224);
    color: white;
}

.btn-radio {
    display: flex;
    margin: 15px;
}

.btn-radio > .circle {
    display: flex;
    margin: auto;
    width: 50px;
    height: 50px;
    border-radius:  50%;
    border: 1px solid black;
    align-items: center;
}


.title h2  {
   font-size: 50px;

}

.tilte,p {
    font-size: 30px;
}

.img-principal  {
    margin: 0 30px;
}

